<h1>Book Lending Library</h1>
<%= link_to "Add Book", new_book_path %>
<p>Our book catalogue:</p>
<ul>
    <% @books.each do |book| %>
      <li>
        <%= link_to book.title, book %> by <span style="color: red;"><%= book.author %></span>
      </li>
    <% end %>
</ul>
