<h1 class="text-center">Welcome, <%= current_user.username if authenticated? %> to Book Zone.</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Book Name</th>
      <th scope="col">Book Author</th>
    </tr>
  </thead>
  <% @books.each do |book| %>
    <tbody>
      <tr>
        <td><%= link_to book.title, book, class:"text-decoration-none"%></td>
        <td><%= link_to book.author, book, class:"text-decoration-none" %></td>
      </tr>
    </tbody>
  <% end %>
</table>
