<h1>Our Book Catalogue</h1>

<div id="books">
  <table class="table table-striped table-hover border">
    <thead>
        <tr>
            <th scope="col">Book</th>
            <th scope="col">Author</th>
        </tr>
    </thead>
    <% @books.each do |book| %>
        <tbody>
            <tr>
                <td><%= link_to book.title, book, class:"text-decoration-none" %></td>
                <td><%= book.author %></td>
            </tr>
        </tbody>
    <% end %>
  </table>
  
</div>
